title{
    font-size: 72px
}
p{
    border-color: #fdefa6
    border-style: solid;
    background-color: #1a1818
    
}

h1{
text-align: center;
}

h2{
text-align: center;
}

h3{
text-align: center;
}